@charset "utf-8";
/* CSS Document */
img {
	width: 50%;
	font-size: 50%;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: #000000;
}
p {
	color: blue;
}
.profile{
	width: 100px;
	float: justify;
}
#heading {
	color: red;
	font-family: "Lobster", cursive;
}
html {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif", "Ubuntu";
}